# pubnub configuration
PUBNUB_PUBLISH_KEY=
PUBNUB_SUBSCRIBE_KEY=
PUBNUB_UUID=
PUBNUB_CHANNEL=

# flask configuration
FLASK_SECRET_KEY=

# database (mariadb) configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# google oauth configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=