-- iot motion detection database schema
-- compatible with mariadb + mysql

CREATE DATABASE IF NOT EXISTS iot_motion_data;
USE iot_motion_data;

CREATE TABLE IF NOT EXISTS motion_events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    event_type VARCHAR(50) NOT NULL,
    cpu_temp FLOAT,
    timestamp DATETIME,
    device VARCHAR(100)
);