body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F0F0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4a4a4a;
    font-weight: 600;
}

.user-info {
    text-align: center;
    font-size: 1em;
    color: #555555;
    margin-bottom: 20px;
}

.logout-btn {
    text-decoration: none;
    /* color: #ffffff; */
    color: #5a4a6a;
    background-color: #E6DFF0;
    padding: 4px 10px;
    border-radius: 8px;
    margin-left: 5px;
    font-weight: bold;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: #D8CFE6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #e6e2e2;
    text-align: center;
    color: #444444;
}

th {
    background-color: #F3F6F0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #F0F6F6;
}

tr:hover {
    background-color: #F3F0F6;
}

.empty {
    text-align: center;
    color: #888888;
    font-style: italic;
    padding: 40px 0;
}